* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 400;
}


.example-block {
    /* padding: 10px 20px 30px 5px; */
    /* padding: 10px 20px 30px; */
    /* padding: 10px 20px; */
    /* padding: 10px; */
    /* padding: 10%; */
    /* margin: 10px 20px 30px 5px; */
    /* margin: 10px; */
    /* margin: 10px -10px; */
    /* width: 500px; */
    /* max-width: 500px; */
    /* min-width: 500px; */
    /* height: 200px; */
    /* height: 50%; */
    /* max-height: 100px; */
    /* min-height: 200px; */
    
    /* Add text to index.html */
    
    /* max-height: 30px; */
    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */ 

    /* display: block; */
    /* display: inline; */
    /* display: none; */
    
    /* Removing the tag br */
    
    /* margin: 0px 0px 30px 0px; */
   

    border: 1px solid #000;
}


.example-string {
    /* padding: 10px; */
    /* margin: 10px; */
    /* width: 500px; */
    /* height: 120px; */
    /* border: 1px solid #000; */
    /* padding: 20px; */
    /* display: block; */


    /* display: inline-block; */
    /* width: 500px; */
    /* border: 1px solid #000; */
}

.example-image {
    /* Testing adaptive */
    
    /* width: 100%; */
    /* max-width: 500px; */
    /* min-width: 300px; */
    /* height: 100px; */
    /* min-height: 100px; */
    /* max-height: 100px; */
}


