<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"/>
    <title>Flexbox</title>
</head>
<body>
  <div class='wrapper'>
    <div class='content'>
      <div class='hi'>
        <div class="container">
          <div class="hi__row">
            <div class="hi__body">
              <div class="hi__title">Hi, friend!</div>
              <ul class="hi__list">
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              </ul>
            </div>
            <div class="hi__image">
              <img src="./img/01.jpg" alt="picture" />
            </div>
          </div>
        </div>
      </div>
      <div class="what">
        <div class="container">
          <div class="what__row">
            <div class="what__image">
              <img src="./img/02.png" alt="" />
            </div>
            <div class="what__body">
              <div class="what__title title">
                Sed nec dignissim sem
              </div>
              <div class="what__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat iaculis libero, nec eleifend dui hendrerit sed.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat iaculis libero, nec eleifend dui hendrerit sed.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="container">
          <div class="columns__title title">Lorem ipsum dolor sit amet</div>
          <div class="columns__row">
            <div class="columns__column">
              <div class="columns__item item">
                <div class="item__row">
                  <div class="item__image">
                    <img src="img/03.jpg" alt="" />
                  </div>
                  <div class="item__body">
                    <div class="item__title">Sed commodo porttitor neque.</div>
                    <div class="item__text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo porttitor neque. Quisque sit amet mi nec ipsum facilisis elementum vel nec purus. Nunc accumsan malesuada nunc et consequat. Maecenas id 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns__column">
              <div class="columns__item item">
                <div class="item__row">
                  <div class="item__image">
                    <img src="img/03.jpg" alt="" />
                  </div>
                  <div class="item__body">
                    <div class="item__title">Sed commodo porttitor neque.</div>
                    <div class="item__text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo porttitor neque. Quisque sit amet mi nec ipsum facilisis elementum vel nec purus. Nunc accumsan malesuada nunc et consequat. Maecenas id                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="columns__column">
              <div class="columns__item item">
                <div class="item__row">
                  <div class="item__image">
                    <img src="img/03.jpg" alt="" />
                  </div>
                  <div class="item__body">
                    <div class="item__title">Sed commodo porttitor neque.</div>
                    <div class="item__text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo porttitor neque. Quisque sit amet mi nec ipsum facilisis elementum vel nec purus. Nunc accumsan malesuada nunc et consequat. Maecenas id                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns__column">
              <div class="columns__item item">
                <div class="item__row">
                  <div class="item__image">
                    <img src="img/03.jpg" alt="" />
                  </div>
                  <div class="item__body">
                    <div class="item__title">Sed commodo porttitor neque.</div>
                    <div class="item__text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo porttitor neque. Quisque sit amet mi nec ipsum facilisis elementum vel nec purus. Nunc accumsan malesuada nunc et consequat. Maecenas id                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="vertical">
      <div class="container">
        <div class="vertical__title title">Sed eu dignissim dolor.</div>
        <div class="vertical__body">
          <div class="vertical__row">
            <div class="vertical__column vertical__column_1">
              <div class="vertical__item">
                <div class="vertical__subtitle">Pellentesque</div>
                <div class="vertical__label">Nulla et pretium</div>
                <div class="vertical__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <a href="#" class="vertical__btn">Lorem ipsum</a>
              </div>
            </div>
            <div class="vertical__column vertical__column_2">
              <div class="vertical__item">
                <div class="vertical__subtitle">Pellentesque</div>
                <div class="vertical__label">Nulla et pretium</div>
                <div class="vertical__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <a href="#" class="vertical__btn">Lorem ipsum</a>
              </div>
            </div>
              <div class="vertical__column vertical__column_3">
                <div class="vertical__item">
                  <div class="vertical__subtitle">Pellentesque</div>
                  <div class="vertical__label">Nulla et pretium</div>
                  <div class="vertical__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                  <a href="#" class="vertical__btn">Lorem ipsum</a>
                </div>
              </div> 
          </div>
        </div>
      </div>
    </div>
    
    <footer class='footer'>
        <div class='footer__row'>
          <div class='footer__text'>Lorem ipsum dolor sit amet.</div>
        </div>
    </footer>
  </div>
 
</body>
</html>