body {
    font-family: Arial, Helvetica, sans-serif;
}

.App {
}
.wrappwer {
    padding: 30px;
}

.block {
   
    &__row {
        border: 20px solid #ece89d;
        margin: 0px 0px 30px 0px;

        display: flex;
    }

    &__column {
        border: 20px solid #5e5373;
    }

    &__item {
        background-color: #18b5a4;
        padding: 50px;
        font-size: 50px;
        color: #fff;
        font-weight: 700;
    }
}


.block__list {
    display: flex;
    align-items: center;
    li {
        margin: 0px 15px 0px 0px;
        &:last-child {
            margin: 0px 0px 0px 0px;
        }
    }
   
    &__info {
        position: relative;
        padding: 0px 0px 0px 25px;
        line-height: 15px;
    }
}