* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 400;
}


/*======================================================*/

.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 200px;
}

.container:hover .button {
    width: 700px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    width: 400px;
    text-decoration: none;
    display: inline-block;
    line-height: 60px;
    padding: 0px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 10px;
    top: 0;
    position: relative;
    transition-duration: 1s;
}


.button_1 {
    color: #fff;
    background-color: #5e6373;
    transition-timing-function: ease;
}

.button_2 {
    color: #fff;
    background-color: #18c5a4;
    transition-timing-function: ease-in;
}

.button_3 {
    color: #fff;
    background-color: #a0781a;
    transition-timing-function: ease-out;
}

.button_4 {
    color: #fff;
    background-color: #cb7070;
    transition-timing-function: ease-in-out;
}

.button_5 {
    color: #fff;
    background-color: #2c1249;
    transition-timing-function: linear;
}

.button_6 {
    color: #fff;
    background-color: #b0c5d2;
    transition-timing-function: steps(10, start);
}

.button_7 {
    color: #fff;
    background-color: #deea36;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}






