* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 400;
}



/*=============================================*/


html {

}

html,
body {
    height: 100%;
}

body {
    line-height: 1;
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.example {
    padding: 80px 0px;
}


.example__container {
    padding: 0px 15px;
    margin: 0px auto;
    max-width: 65.625rem;
    position: relative;
}

.example__container::before {
    content: "";
    background: url("../img/decor.png") 0 0 / 100% no-repeat;
    position: absolute;
    right: 0;

    /* 153 / 1050 * 100 = 14,57 */
    width: 14,57%; 

    /* 241 / 1050 * 100 = 22,95 */
    padding-top: 22,95%;

    top: 50%;

    transform: translate(50%, -50%);
}



.example__header {
    margin: 0px 0px 25px 0px;

    /* ширина макета 750px / 16px шрифт по умолчанию*/
    max-width: 46.875rem;
}


.example__sub-title {
    color: #a989c7;
    font-weight: 700;
    text-transform: uppercase;

    /*размер по макету 14px / 16px размер по умолчанию*/
    font-size: 0.875rem;


    /*размер по макету 24px / 14px размер шрифта*/
    line-height: 1.7;
    
    /*размер по макету 15px / 14px размер шрифта*/
    margin: 0px 0px 1.07em 0px;
}

.example__title {
    color: rgb(124, 201, 124);
    text-transform: uppercase;
    font-weight: 900;

    /*размер по макету 42px / 16px размер шрифта по умолчанию*/
    font-size: 2.625rem;

    /*размер по макету 50px / 42px размер шрифта */
    line-height: 1.19;

    /*размер по макету 16px / 42px размер шрифта */
    margin: 0px 0px 0.38em 0px;

    /*размер по макету 5px / 42px размер шрифта */
    letter-spacing: 0.12em;
}


.example__text {
     /*размер по макету 24px / 16px размер шрифта */
     line-height: 1.5;
}


.example__items {}

.example__item {}

.item-example {
    display: flex;
    column-gap: 23px;
}

.item-example__icon {
    /* flex: 0 0 63px; */
    width: 100px;
    height: 100px;
}

.item-example__body {}

.item-example__title {
    color: #f2728f;
    font-weight: 900;

     /*размер по макету 24px / 16px размер шрифта */
     font-size: 1.5rem;

      /*размер по макету 11px / 24px размер шрифта */
      margin: 0px 0px 0.45em 0px;
}


.item-example__text {
     /*размер по макету 24px / 16px размер шрифта */
     line-height: 1.5;
}