* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 400;
}



/*=============================================*/


html {

}

html,
body {
    height: 100%;
}

body {
    line-height: 1;
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.example {
    padding: 80px 0px;
}


.example__container {
    padding: 0px 15px;
    margin: 0px auto;
    max-width: 65.625rem;
    position: relative;
}

.example__container::before {
    content: "";
    background: url("../img/decor.png") 0 0 / 100% no-repeat;
    position: absolute;
    right: 0;

    /* 153 / 1050 * 100 = 14,57 */
    width: 14,57%; 

    /* 241 / 1050 * 100 = 22,95 */
    padding-top: 22,95%;

    top: 50%;

    transform: translate(50%, -50%);
}



.example__header {}
.example__sub-title {}
.example__title {}
.example__text {}
.example__items {}
.example__item {}
.item-example {}
.item-example__icon {}
.item-example__body {}
.item-example__title {}
.item-example__text {}