
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 400;
}


/*==================================*/

@font-face {
	font-family: 'Conv_R651-Roman-Regular';
	src: url('fonts/R651-Roman-Regular.eot');
	src: local('☺'), url('fonts/R651-Roman-Regular.woff') format('woff'), url('fonts/R651-Roman-Regular.ttf') format('truetype'), url('fonts/R651-Roman-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_maaxmedium';
	src: url('fonts/maaxmedium.eot');
	src: local('☺'), url('fonts/maaxmedium.woff') format('woff'), url('fonts/maaxmedium.ttf') format('truetype'), url('fonts/maaxmedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.textoriginal {
    margin: 0px 0px 30px 0px;
    font-size: 30px;
    line-height: 35px;
}

.text {
    margin: 0px 0px 30px 0px;
    font-size: 30px;
    line-height: 35px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-weight: 700;
}

.text p {
    padding: 0px 0px 30px 0px;
}


.romanregular {
    margin: 0px 0px 30px 0px;
    font-size: 30px;
    line-height: 35px;
}

.romanregular p {
    padding: 0px 0px 30px 0px;
}


.maaxmedium {
    margin: 0px 0px 30px 0px;
    font-size: 30px;
    line-height: 35px;
}

.maaxmedium p {
    padding: 0px 0px 30px 0px;
}