.block {
   padding: 30px;
   font-size: 50px;
   line-height: 60px;
   >p {
    color: red;
   }
    .block__text {
        font-size: 80px;
        span {
            color: green;
        }
   }
} 

.link {
    color: blue;
    text-decoration: underline;
    &:hover {
        color: green;
    }
}
