.block {
   padding: 30px;
   font-size: 50px;
   line-height: 60px;
   .block__text {
      font-size: 80px;
      
      span {
        color: green;
      }
   }
}
   

.link {
    color: blue;
    text-decoration: underline;
    font-size: 20px;

    .block & {
        font-size: 100px;
    }
    
    &:hover {
        color: green;
    }
}
